@import "tailwindcss";

@keyframes grow-up {
  0% {
    transform: scale(0.9) translateY(15%); 
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(10%); 
    opacity: 1;
  }
}
@keyframes grow-up-2 {
  0% {
    transform: scale(0.9) translateY(30%); 
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(10%); 
    opacity: 1;
  }
}

@property --grad-color {
  syntax: '<color>';
  initial-value: rgba(40, 40, 40, 0.7); /* Color inicial (grisáceo) */
  inherits: false;
}

@keyframes blacken-gradient {
  0% {
    --grad-color: rgba(0, 0, 0, 0.437);
  }
  100% {
    --grad-color: rgba(0, 0, 0, 0.809); /* Negro puro */
  }
}

.animate-blacken {
  animation: blacken-gradient 1.5s ease-in-out forwards;
  background: linear-gradient(to right, var(--grad-color) 0%, rgba(0,0,0,0.2) 60%, rgba(0, 0, 0, 0.801) 100%);
}


@media (min-width: 768px) {
  .animate-blacken {
    background: linear-gradient(to top, var(--grad-color) 20%, transparent 100%);
  }
}


.animate-grow-back {
  animation: grow-up 1s ease-out forwards;
}

.animate-grow-front {
  /* 1.2s = Velocidad media | 0.4s = Tiempo de espera antes de salir */
  animation: grow-up-2 1.2s ease-out forwards;
}

@keyframes header-drop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-header-drop {
  animation: header-drop 1s ease-out forwards;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 5)); } /* Ajusta según el ancho de tus cards */
}

.animate-infinite-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.animate-infinite-scroll:hover {
  animation-play-state: paused; /* Se detiene al pasar el mouse para leer */
}